.fishboneChart {
    position: relative;
    display: flex;
    justify-items: center;
    min-height: 200px;
    opacity: 1;
    padding-right: 15px;
    padding-left: 0px;
}

.visible {
    opacity: 1 !important;
    pointer-events: unset; 
    z-index: unset;
}

.unvisible {
    opacity: 0 !important;
    pointer-events: none; 
    z-index: -1;
}

.fishboneChart.unvisible > * {
    opacity: 0 !important;
    pointer-events: none; 
    z-index: -1;
}

.fishboneChart.visible > * {
    opacity: 1 !important;
    pointer-events: unset; 
    z-index: unset;
}

.top {
    border-bottom: 2px solid;
}

.bottom {
    border-top: 2px solid;
}

.left {
    border-left: 2px solid;
}

.all {
    border: 2px solid;
}

.causes {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.causesGroup {
    flex: 1;
    display: flex;
    margin-right: 10px;
}


.cause {
    display: flex;
    font-size: 0.95em;
    font-weight: 400;
    padding: 5px
}

.cause-light {
    color: #ffffff;
}

.cause-dark {
    color: #4f4f4f;
}

.cause-start {
    justify-content: start;
    align-items: start;
    text-align: start;
}

.cause-center {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.causeAndLine {
    display: flex;
    flex: 1;
    width: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden !important;
}

.rootCauses {
    display: flex;
    flex: 3;
    flex-direction: column;
    position: relative;
    padding: 18px 0px;
    text-align: right;
    height: 100%;
    font-size: 0.85em;
    font-weight: 400;
    position: relative;
}


.legend {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 10px;
}

.legendLabel {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4f4f4f;
    font-size: 0.95em;
    font-weight: 400;
    margin-bottom: 6px;
    cursor: default;
}

.bold {
    font-weight: bold;
}

.blueBorder {
    border-color: #00c0ef !important;
}

.blackBorder {
    border-color: #111111 !important;
}

.blue_twoBorder {
    border-color: #0b78ce !important;
}

.grayBorder {
    border-color: #68738c !important;
}


.greenBorder {
    border-color: #30bbbb !important;
}

.pinkBorder {
    border-color: #d81b60 !important;
}

.purpleBorder {
    border-color: #555299 !important;
}

.orangeBorder {
    border-color: #ff7701 !important;
}

.blueBackground {
    background: #00c0ef;
    background-color: #00c0ef;
}
.pinkBackground {
    background: #d81b60;
    background-color: #d81b60;
}
.grayBackground {
    background: #68738c;
    background-color: #68738c;
}
.greenBackground {
    background: #30bbbb;
    background-color: #30bbbb;
}
.blue_twoBackground {
    background: #0b78ce;
    background-color: #0b78ce;
}
.orangeBackground {
    background: #ff7701;
    background-color: #ff7701;
}
.blackBackground {
    background: #111111;
    background-color: #111111;
}
.purpleBackground {
    background: #555299;
    background-color: #555299;
}

.labelSquare {
    flex: 1;
    width: 42px;
    height: 14px;
    margin: 0px 4px 0px 4px;
}

.labelLineThrough {
    text-decoration: line-through;
    font-size: 0.95em;
    font-weight: 400;
    color: #4f4f4f;
}

.label_ {
    font-size: 0.95em;
    font-weight: 400;
    color: #4f4f4f;
}

.bordered {
    border: 3px solid;
}

.main-problem-title {
    position: relative;
}
.main-problem-title > svg{
    transform: rotate(90deg) scaleX(-1);
    position: relative;
    left: -40px;
    aspect-ratio: 1;
}

.main-problem {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.95em;
    text-align: center;
    font-weight: 400;
    color: #4f4f4f;
    position: relative;
    min-width: 200px;
    max-width: 240px;
}

.absolute-tile {
    position: absolute;
    top: -100px;
    left: 50px;
}

.title {
    font-size: 0.9em;
    font-weight: 700;
    text-align: center;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    max-width: 300px;
    width: 220px;
}

.fish-tail {
    display: flex;
    width: 150px;
}

.fish-tail-svg {
    position: absolute;
    transform: scaleX(-1);
    left: 50px;
}

.diagonalLine {
    flex: 1;
    height: 100%;
    z-index: 999;
    border: 0px solid transparent !important;
}


.blueTopBottom {
    background: linear-gradient(to top right, transparent calc(50% - 1px), #00c0ef, #ffffff calc(50% + 1.5px))
}

.blueBottomTop {
    background: linear-gradient(to bottom right, transparent calc(50% - 2px), #00c0ef, #ffffff calc(50% + 1.5px));
}

.blackTopBottom {
    background: linear-gradient(to top right, transparent calc(50% - 2px), #111111, #ffffff calc(50% + 1.5px));
}

.blackBottomTop {
    background: linear-gradient(to bottom right, transparent calc(50% - 2px), #111111, #ffffff calc(50% + 1.5px));
}

.blue_twoTopBottom {
    background: linear-gradient(to top right, transparent calc(50% - 2px), #0b78ce, #ffffff calc(50% + 1.5px));
}

.blue_twoBottomTop {
    background: linear-gradient(to bottom right, transparent calc(50% - 2px), #0b78ce, #ffffff calc(50% + 1.5px));
}

.grayTopBottom {
    background: linear-gradient(to top right, transparent calc(50% - 2px), #68738c, #ffffff calc(50% + 1.5px));
}

.grayBottomTop {
    background: linear-gradient(to bottom right, transparent calc(50% - 2px), #68738c, #ffffff calc(50% + 1.5px));
}

.greenTopBottom {
    background: linear-gradient(to top right, transparent calc(50% - 2px), #30bbbb, #ffffff calc(50% + 1.5px));
}

.greenBottomTop {
    background: linear-gradient(to bottom right, transparent calc(50% - 2px), #30bbbb, #ffffff calc(50% + 1.5px));
}

.pinkTopBottom {
    background: linear-gradient(to top right, transparent calc(50% - 2px), #d81b60, #ffffff calc(50% + 1.5px));
}

.pinkBottomTop {
    background: linear-gradient(to bottom right, transparent calc(50% - 2px), #d81b60, #ffffff calc(50% + 1.5px));
}

.purpleTopBottom {
    background: linear-gradient(to top right, transparent calc(50% - 2px), #555299, #ffffff calc(50% + 1.5px));
}

.purpleBottomTop {
    background: linear-gradient(to bottom right, transparent calc(50% - 2px), #555299, #ffffff calc(50% + 1.5px));
}

.orangeTopBottom {
    background: linear-gradient(to top right, transparent calc(50% - 2px), #ff7701, #ffffff calc(50% + 1.5px));
}

.orangeBottomTop {
    background: linear-gradient(to bottom right, transparent calc(50% - 2px), #ff7701, #ffffff calc(50% + 1.5px));
}

.lineEffect {
    width: 100%;
    border-bottom: 2px solid;
}

.causeContent {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50%;
    position: relative;
    left: 0;
    transition: left 0.3s;
}

.subcauses-list-container {
    margin: 0;
    padding: 10px;
    text-align: left;
    background: #f9f9f9;
    border-left: 1px solid #f9f9f5;
    border-right: 1px solid #f9f9f5;
    border-bottom: 1px solid #f9f9f5;
}
.subcauses-list-center {
    text-align: center;
}
.subcauses-list-start {
 padding-left: 20px;
}

.cuseContainer {
    position: relative;
    z-index: 0;
    margin: 10px;
}

.absoluteBorder {
    position: relative;
    height: 0px;
    border-bottom: 2px solid;
    top: -2px;
}

.thinBorder {
    border-bottom: 5px solid;
}

.fishbon-chart-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.3);
}

.fishbon-chart-loader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 15px;
    aspect-ratio: 1;
    border-radius: 50%;
    animation: l5 1s infinite linear alternate;
}

.hexa {
    min-width: 260px;
    padding: 8px;
    justify-content: center !important;/* force center alignment*/
    text-align: center !important;/* force center alignment*/
    clip-path: polygon(10px 0px, calc(100% - 10px) 0px, 100% 50%, calc(100% - 10px) 100%, 10px 100%, 0px 50%);
    -webkit-clip-path: polygon(10px 0px, calc(100% - 10px) 0px, 100% 50%, calc(100% - 10px) 100%, 10px 100%, 0px 50%);
    -moz-clip-path: polygon(10px 0px, calc(100% - 10px) 0px, 100% 50%, calc(100% - 10px) 100%, 10px 100%, 0px 50%);
}

.rect {
    min-width: 260px;
    padding: 8px;
    justify-content: center !important;/* force center alignment*/
    text-align: center !important;/* force center alignment*/
}

.rounded {
    min-width: 260px;
    padding: 8px;
    justify-content: center !important;/* force center alignment*/
    text-align: center !important;/* force center alignment*/
    border-radius: 10px !important;
}

/* custome points shapes */
.hexagon {
  aspect-ratio: cos(30deg);
  clip-path: polygon(-50% 50%,50% 100%,150% 50%,50% 0);
  -webkit-clip-path: polygon(-50% 50%,50% 100%,150% 50%,50% 0);
  -moz-clip-path: polygon(-50% 50%,50% 100%,150% 50%,50% 0);
  width: 15px;
  position: absolute;
}

.hexagon2 {
  aspect-ratio: 1/cos(30deg);
  clip-path: polygon(50% -50%,100% 50%,50% 150%,0 50%);
  -webkit-clip-path: polygon(50% -50%,100% 50%,50% 150%,0 50%);
  -moz-clip-path: polygon(50% -50%,100% 50%,50% 150%,0 50%);
  width: 15px;
  position: absolute;
}

.rhombus {
  width: 15px;
  aspect-ratio: 1;
  clip-path: polygon(50% 0,100% 50%,50% 100%,0 50%);
  -webkit-clip-path: polygon(50% 0,100% 50%,50% 100%,0 50%);
  -moz-clip-path: polygon(50% 0,100% 50%,50% 100%,0 50%);
  position: absolute;
}

.rhombus2 {
  --r: 5px;
  height: 20px; 
  aspect-ratio: 1;
  margin: calc(tan(22.5deg)*var(--r));
  clip-path: polygon(50% 0,100% 50%,50% 100%,0 50%) margin-box;
  --_g:/calc(2*var(--r)) calc(2*var(--r)) 
    radial-gradient(#000 70%,#0000 72%);
  --_s:calc(100% - (1 - tan(22.5deg))*var(--r));
  mask:
    conic-gradient(#000 0 0) no-repeat 50%/var(--_s) var(--_s),
    top var(--_g) no-repeat space,left var(--_g) space no-repeat;
    position: absolute;
}

.triangle {
  height: 20px;
  aspect-ratio: cos(30deg);
  clip-path: polygon(100% 0,0 50%,100% 100%);
  -webkit-clip-path: polygon(100% 0,0 50%,100% 100%);
  -moz-clip-path: polygon(100% 0,0 50%,100% 100%);
  position: absolute;
}

.circle {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: absolute;
}

@keyframes l5 {
    0% {
        box-shadow: 20px 0 #00c0ef, -20px 0 #0002;
        background: #00c0ef
    }

    33% {
        box-shadow: 20px 0 #00c0ef, -20px 0 #0002;
        background: #0002
    }

    66% {
        box-shadow: 20px 0 #0002, -20px 0 #00c0ef;
        background: #0002
    }

    100% {
        box-shadow: 20px 0 #0002, -20px 0 #00c0ef;
        background: #00c0ef
    }
}
